<!--
# Project name: Project SCHEMA
# Description: This project aims to simplify the enrollment and management processes by
#              reducing the clutter and only showing the essentials of a successful
#              enrollment program.
# Filename: edit.html.erb
# Description: Edit Student Profile page
# Last modified on: 11/24/19
-->

<center>
    <h1>Edit Student Profile</h1>

    <%= render 'form', student: @student %>

    <%= link_to 'Back', students_path, class: "red-button", 
    data: {confirm: 'Are you sure you want to leave the page? You will lose any unsaved data!'} %>
</center>
