<!--
# Project name: Project SCHEMA
# Description: This project aims to simplify the enrollment and management processes by
#              reducing the clutter and only showing the essentials of a successful
#              enrollment program.
# Filename: new.html.erb
# Description: New User page renders form
# Last modified on: 11/24/19
-->

<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
