<!--
# Project name: Project SCHEMA
# Description: This project aims to simplify the enrollment and management processes by
#              reducing the clutter and only showing the essentials of a successful
#              enrollment program.
# Filename: faqs.html.erb
# Description: The FAQs page displays answers to questions commonly presented.
# Last modified on: 11/24/19
-->

<h1><font size="50">Frequently Asked Questions (FAQs)</font></h1>

<br>

<h1>What is SCHEMA?</h1>
<p>
    SCHEMA (Student Course Helper & Enrollment Management Application) is a program that aims to make enrollment as simple as possible. 
    In other applications, the overwhemling number of features and buttons make it difficult to navigate or do anything on a page. SCHEMA tries 
    to eliminate that by only showing you, the user, what is necessary for you. Nothing more, nothing less.
</p>

<br>
<br>

<h1>How do I enroll in courses?</h1>
<p>
    It's as simple as clicking 'View', which is located on the very right of the course information, 
    then clicking 'Enroll'. You can also drop a course by clicking 'Drop' on the same page. 
    (assuming you're already enrolled, of course!)
</p>

<br>
<br>

<h1>Why do the colors of the rows represent in the course table?</h1>
<p>
    This is a visual to help you see what courses are available. 
    There are four colors used in the table: blue, green, yellow, and red.<br>
    A blue row means you are enrolled in that course.<br>
    A green row means the course is open and plenty of seats are available.<br>
    A yellow row means the course is open, but the number of available seats are limited.<br>
    A red row means the course is closed as there are no available seats.
</p>

<br>
<br>

<h1>What if I am unable to enroll in a particular course?</h1>
<p>
    You can add yourself to a waitlist, where professors and administrators will gladly do 
    their best to enroll you in the course(s) you desire. It's as simple as clicking 'Add 
    to Waitlist', selecting the course you want, and clicking 'Submit'. Done!
</p>

<br>
<br>

<h1>Do I need to make a student profile?</h1>
<p>
    You are required to have a student profile if you are not a professor or an administrator.
</p>

<br>
<br>

<h1>Can I delete my account if I no longer wish to use SCHEMA?</h1>
<p>
    While we wish you don't, we allow to you delete your account. Click 'Profile' on the 
    top-left corner of the page and click 'Cancel My Account' near the bottom of the page.
</p>

<br>
<br>

<%= link_to 'Go to Dashboard', home_dashboard_path, class: "blue-button-long" %>