<!--
# Project name: Project SCHEMA
# Description: This project aims to simplify the enrollment and management processes by
#              reducing the clutter and only showing the essentials of a successful
#              enrollment program.
# Filename: edit.html.erb
# Description: Edit Course Information page
# Last modified on: 11/24/19
-->

<center>
    <h1>Edit Course Information</h1>

    <%= render 'form', course: @course %>

    <%= link_to 'Back', courses_path, class: "red-button", 
    data: {confirm: 'Are you sure you want to leave the page? You will lose any unsaved data!'} %>
</center>