<!--
# Project name: Project SCHEMA
# Description: This project aims to simplify the enrollment and management processes by
#              reducing the clutter and only showing the essentials of a successful
#              enrollment program.
# Filename: new.html.erb
# Description: New Enrollment Record page
# Last modified on: 11/24/19
-->

<% if current_user.is_admin? || current_user.is_professor? %>
    <h1><font size="50">Enroll Student Into Course</font></h1>
<% else %>
    <h1><font size="50">Enroll Into Course</font></h1>
<% end %>

<strong>
    <%= render 'form', enrolled_course: @enrolled_course %>
</strong>

<br>

<% session[:my_previous_url] = URI(request.referer || '').path %>
<% if session[:my_previous_url] == '/waitlists' %>
    <%= link_to 'Back', waitlists_path, class: "red-button", data: {confirm: 'Are you sure you want to leave the page? You will lose any unsaved data!'} %>
<% else %>
    <%= link_to 'Back', home_dashboard_path, class: "red-button", data: {confirm: 'Are you sure you want to leave the page? You will lose any unsaved data!'} %>
<% end %>
